@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
  --col-bg-koblue: #2c2c56;
  --col-bg: rgb(235, 235, 210);
  --col-a: rgb(105, 105, 255);
  --col-a-v: rgb(25, 25, 255);
  --brightness-font-main: 15;
  --opacity-font-main: 1.0;
}

html {
  background-color: var(--col-bg);
  color: rgba(var(--brightness-font-main), var(--brightness-font-main), var(--brightness-font-main), var(--opacity-font-main));
}

body {
  font-family: 'Nunito', sans-serif;
}

a {
  color: var(--col-a);
}

a:visited {
  color: var(--col-a-v);
}
