:root {
  --opcaity-shadow: 0.075;
}

body {
  font-size: large;
  max-width: 800px;
  margin: 0 auto;
}

@media (max-width: 700px) {
  main .div-main-content {
    flex-direction: column;
  }
  .div-main-content .div-left {
    text-align: left;
    width: 100%;
    margin-top: 0;
  }
}

main .div-main-content {
  display: flex;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 30px 50px 30px 30px;
  padding: 30px 25px 30px 25px;
  border-radius: 15px;
  box-shadow: 1px 10px 20px rgba(0, 0, 0, var(--opcaity-shadow));
  transition: 300ms all;
}

main .div-main-content:hover {
  background-color: rgba(255, 255, 255, 0.65);
  box-shadow: 1px 10px 20px rgba(0, 0, 0, calc(2 * var(--opcaity-shadow)));
}

.div-main-content .div-left {
  width: 250px;
  margin-top: 25px;
  text-align: center;
}

.div-main-content .div-right {
  flex: 1;
}

.img-pfp {
  width: 100px;
  border-radius: 100%;
  box-shadow: 1px 7px 10px rgba(0, 0, 0, var(--opcaity-shadow));
  transition: 300ms all cubic-bezier(0.68, -0.55, 0.27, 3.5);
}

.img-pfp:hover {
  box-shadow: 1px 9px 10px rgba(0, 0, 0, calc(2 * var(--opcaity-shadow)));
  transform: scale(1.0375);
}

#footer {
  text-align: right;
  margin: 0px 50px 0px 30px;
}

.footer-link {
  transition: 300ms all;
}

.footer-link:hover {
  font-weight: 800;
}

.span-footer {
  opacity: 0.5;
  transition: 400ms all;
}

.span-footer:hover {
  opacity: 1.0;
}