@media (max-width: 700px) {
  .game-entry {
    max-width: none !important;
    width: 100vw !important;
    flex-direction: column;
    margin: 0px !important;
  }
  .left {
    text-align: left !important;
  }
  .right {
    text-align: center !important;
  }
  .img-rabbitstar {
    display: none;
  }
  /* .div-poster {
    padding: 0;
    width: 100%;
    max-width: 100%;
  }
  .img-poster {
    width: 80vw;
    max-width: 100%;
    box-sizing: border-box;
  } */
}


.div-grid-content {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 20px;
  margin: 100px 0;
  justify-items: center;
}

.game-entry {
  display: flex;
  background-color: white;
  border-radius: 20px;
  max-width: 1000px;
  margin: 20px;
  color: black;
}

.right > h1, p, a {
  margin: 15px 0px;
}

.right > p {
  color: rgb(85, 85, 85);
}

.a-game-link {
  color: blue;
}
.a-game-link:visited {
  color: blue;
}

.div-embed {
  display: flex;
  gap: 1.5rem;
}

.div-embed > img {
  width: 40px;
}

.left {
  flex: 3;
}

.right {
  flex: 2;
  text-align: left;
  padding: 10px;
}

.div-poster {
  padding: 15px;
}

.img-poster {
  width: 100%;
  border-radius: 10px;
}