main {
  width: 800px;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

.art-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.5rem;
}

.art-entry > img{
  height: 200px;
  object-fit: cover;
  object-position: center;
}

.preview-bg {
  position: fixed;
  background-color: black;
  /* Positioning: When position is absolute, fixed, relative, or sticky, these properties specify an offset from the corresponding edge of the reference box.
top: 20px; means the top edge of the element should be 20 pixels from the top edge of its containing block.
left: 0; means the left edge of the element should align with the left edge of its containing block. */
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.preview-popup {
  background-color: white;
  position: relative;
  
  width: 600px;
  height: 800px;

  
}