body {
  font-size: 13pt;
  max-width: 800px;
  margin: 0 auto;
}

main {
  text-align: center;
}

#header-logo{
  width: 200px;
  margin: 50px auto;
}

.heading {
  color: yellow;
  font-size: 52px;
  margin: 0;
  text-shadow: 1px 8px 4px rgba(0, 0, 0, 0.1);
} 

