html {
  background-color: #2c2c56;
  color: white;
}

a {
  color: lightblue;
}

body {
  font-family: 'Nunito', sans-serif;
  text-align: center;
  font-size: large;
}

#footer {
  opacity: 0.8;
}

#footer:hover {
  opacity: 1.0;
}

#footer-link:hover {
  font-weight: bold;
}